<li class="h-[36px]">
  <button class="flex h-full flex-row items-center px-2 enabled:hover:bg-concrete disabled:text-star-dust enabled:dark:hover:bg-shark disabled:dark:text-storm-dust" disabled="@IsDisabled" @onclick="OnClick">
    <div class="h-[16px] w-[16px]"></div>

    <div class="pl-2">@Label</div>
  </button>
</li>

@code {
    [Parameter] public bool IsDisabled { get; set; }

    [EditorRequired, Parameter] public string Label { get; set; } = null!;

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}