<label @attributes="@AdditionalAttributes" class="px-2.5 pt-0 pb-0.5 bg-white rounded-full cursor-pointer has-disabled:cursor-default has-disabled:bg-white has-checked:bg-lochmara has-checked:hover:bg-science-blue has-checked:active:bg-venice-blue has-[:checked:disabled]:bg-concrete has-[:checked:disabled]:hover:bg-concrete has-[:checked:disabled]:active:bg-concrete text-mine-shaft has-disabled:text-star-dust has-checked:text-white has-[:checked:disabled]:text-star-dust dark:has-disabled:bg-cod-grey dark:has-checked:bg-lochmara dark:has-checked:hover:bg-dodger-blue dark:has-checked:active:bg-jordy-blue dark:has-[:checked:disabled]:bg-shark dark:has-[:checked:disabled]:hover:bg-shark dark:has-[:checked:disabled]:active:bg-shark dark:has-disabled:text-natural-grey dark:has-checked:text-mine-shaft dark:has-[:checked:disabled]:text-natural-grey dark:bg-cod-grey dark:hover:bg-shark dark:active:bg-tuatara dark:text-desert-storm hover:bg-concrete active:bg-gallery">
    @ChildContent
</label>

@code {
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
}