@typeparam TValue
@using System.Linq.Expressions

<InputRadioGroup @attributes="@AdditionalAttributes" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression">
    <div class="flex flex-row gap-0.5 self-start p-0.5 rounded-full border border-storm-dust dark:border-star-dust" role="radiogroup">
        @ChildContent
    </div>
</InputRadioGroup>

@code {
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public TValue? Value { get; set; }

    [Parameter] public EventCallback<TValue> ValueChanged { get; set; }

    [Parameter] public Expression<Func<TValue>>? ValueExpression { get; set; }
}