<li class="h-[36px]">
  <button class="flex flex-row items-center px-2 h-full enabled:hover:bg-concrete enabled:active:bg-gallery dark:enabled:hover:bg-shark dark:enabled:active:bg-tuatara dark:disabled:text-storm-dust disabled:text-star-dust" disabled="@IsDisabled" @onclick="OnClick">
    <div class="h-[16px] w-[16px]"></div>

    <div class="pl-2">@Label</div>
  </button>
</li>

@code {
    [Parameter] public bool IsDisabled { get; set; }

    [EditorRequired, Parameter] public string Label { get; set; } = null!;

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}