@inject IDialogService DialogService
@rendermode InteractiveServer
@using AzureAppConfigurationEmulator.Services

<div class="flex flex-row">
    <div class="flex flex-col flex-1">
        <h2 class="font-semibold text-[24px]">@Title</h2>

        @if (!string.IsNullOrEmpty(Subtitle))
        {
            <div class="text-sm text-storm-dust dark:text-star-dust">@Subtitle</div>
        }
    </div>

    <button class="hover:text-white h-[32px] w-[32px] hover:bg-alizarin-crimson" @onclick="HandleCloseClick">🗙</button>
</div>

@code {
    [CascadingParameter] public required AzureDialog AzureDialog { get; set; }

    [Parameter] public string? Subtitle { get; set; }

    [EditorRequired, Parameter] public required string Title { get; set; }

    private async Task HandleCloseClick(MouseEventArgs args)
    {
        await DialogService.CloseAsync(AzureDialog.Id);
    }
}