<div class="flex flex-row">
    <button class="mb-1 mr-1 flex h-[28px] flex-1 flex-row items-center px-1 hover:bg-concrete dark:hover:bg-shark">
        <div class="mr-1 h-[12px] w-[12px]"></div>

        <div class="font-semibold">Essentials</div>
    </button>

    <div class="px-2.5 pt-1">JSON View</div>
</div>