<div class="flex flex-row">
    <button class="flex flex-row flex-1 items-center px-1 mr-1 mb-1 h-[28px] dark:hover:bg-shark hover:bg-concrete">
        <div class="mr-1 h-[12px] w-[12px]"></div>

        <div class="font-semibold">Essentials</div>
    </button>

    <div class="px-2.5 pt-1">JSON View</div>
</div>