@inject IServer Server
@using Microsoft.AspNetCore.Hosting.Server
@using Microsoft.AspNetCore.Hosting.Server.Features

<div class="flex flex-col border-b border-b-alto dark:border-b-masala">
    <EssentialsAccordionHeader/>

    <div class="flex flex-row">
        @foreach (var descriptions in Descriptions)
        {
            <div class="flex-1">
                <AzureDescriptionList Descriptions="descriptions"/>
            </div>
        }
    </div>
</div>

@code {

    private IEnumerable<IDictionary<string, string>> Descriptions => new List<IDictionary<string, string>>
    {
        new Dictionary<string, string>
        {
            { "Resource group", "-" },
            { "Status", "Succeeded" },
            { "Location", "-" },
            { "Subscription", "-" },
            { "Subscription ID", "-" }
        },
        new Dictionary<string, string>
        {
            { "Endpoint", Server.Features.Get<IServerAddressesFeature>()?.Addresses.FirstOrDefault() ?? "-" },
            { "Pricing tier", "-" },
            { "Soft-delete", "Disabled" },
            { "Purge protection", "Disabled" },
            { "Geo-replication", "-" }
        }
    };

}