@page "/"

<PageTitle>Overview</PageTitle>

<div class="flex flex-col">
    <AzureToolbar>
        <AzureToolbarButton IsDisabled="true" Label="Delete"/>

        <AzureToolbarDivider/>

        <AzureToolbarButton IsDisabled="true" Label="Feedback"/>
    </AzureToolbar>

    <div class="flex flex-1 flex-col pb-5 pt-2.5 px-5">
        <EssentialsAccordion/>
    </div>
</div>