@inherits LayoutComponentBase
@using System.Net

<div class="bg-merlin flex flex-row h-[40px] items-center dark:bg-shark">
    <div class="h-[48px] w-[48px]"></div>

    <h1 class="font-semibold px-5 text-white text-xl">Emulator for Azure App Configuration</h1>
</div>

<div class="flex flex-row pt-2 px-4 text-lg">
    <div class="px-1">Home</div>
</div>

<div class="flex flex-col">
    <header class="flex flex-row-wrap px-5 py-2">
        <div class="h-[28px] mr-2.5 w-[28px]"></div>

        <div>
            <h2 class="font-semibold mr-4 text-[24px]">@Dns.GetHostName()</h2>

            <div class="text-sm text-storm-dust dark:text-star-dust">App Configuration</div>
        </div>
    </header>

    <div class="flex flex-row">
        <div class="flex-none w-[265px]">
            <NavMenu/>
        </div>

        <main class="flex-1">@Body</main>
    </div>
</div>

<div class="bg-black bottom-0 fixed left-0 hidden px-5 py-2.5 text-white w-full z-[1000] dark:bg-white dark:text-black" id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="absolute cursor-pointer right-3 top-2 dismiss">🗙</a>
</div>