<nav class="flex flex-col">
    <div class="my-2 mr-9 ml-5">
        <AzureTextField IsDisabled="true" Placeholder="Search"/>
    </div>

    <NavGroup Header="Quick Access">
        <NavItem Href="" Label="Overview" Match="NavLinkMatch.All"/>
        @* <NavItem Href="eventlogs" Label="Activity log"/> *@
        @* <NavItem Href="users" Label="Access control (IAM)"/> *@
        @* <NavItem Href="tags" Label="Tags"/> *@
        @* <NavItem Href="quickstart" Label="Quick start"/> *@
        @* <NavItem Href="events" Label="Events"/> *@
    </NavGroup>

    <NavGroup Header="Operations">
        <NavItem Href="kvs" Label="Configuration explorer"/>
        @* <NavItem Href="snapshot" Label="Snapshots"/> *@
        <NavItem Href="ff" Label="Feature manager"/>
        @* <NavItem Href="kvrestore" Label="Restore"/> *@
        @* <NavItem Href="kvc" Label="Compare"/> *@
        <NavItem Href="kvdata" Label="Import/export"/>
    </NavGroup>

    <NavGroup Header="Settings">
        <NavItem Href="keys" Label="Access keys"/>
        @* <NavItem Href="sku" Label="Scale up"/> *@
        @* <NavItem Href="replication" Label="Geo-replication"/> *@
        @* <NavItem Href="identity" Label="Identity"/> *@
        @* <NavItem Href="encryption" Label="Encryption"/> *@
        @* <NavItem Href="networking" Label="Networking"/> *@
        @* <NavItem Href="properties" Label="Properties"/> *@
        @* <NavItem Href="locks" Label="Locks"/> *@
    </NavGroup>
</nav>